@import "tailwindcss";


@theme inline {
  --font-michroma: var(--font-michroma)
}

@theme {
 --animate-fade-in-normal : fade-in-normal 0.6s linear 0s 1 normal none; 

  @keyframes fade-in-normal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}